* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card_quiz {
  background-color: aquamarine;
}
.btn_quiz {
  width: 100%;
  text-align: left;
}
.ul_quiz li {
  list-style-type: circle;
  margin-left: -20px;
  cursor: pointer;
}
.btn_left {
  float: left;
}
.btn_right {
  float: right;
}
.btn_right_first {
  float: right;
  margin-right: 5px;
}
